# PlatformIO
.pio/
.vscode/
.venv/
.env

# OS / editor junk
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts / binaries
*.bin
*.elf
*.map

# Secrets (common patterns)
secrets.h
secrets.hpp
secrets.json
